:root{
    --primary-color:#3F2A24;
    --secondary-color: #C2985C;
    --accent1-color: #D7AE67;
    --accent2-color:  #683D37;

}
body {
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: medium;
    color: var(--primary-color);
    margin: 20px 0;

}

h2 {
    font-size: 
var(--subheading-font-size);
    color: 
var(--secondary-color);
   margin:15px 0;
}

h3 {
    font-size: 1.75em;
    color: var(--primary-color);
    margin:10px 0;
}

p {
    margin: 10px 0;
}

a {
    color:
var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: 
underline;
}

.social-media a {
    text-decoration:none ;
}

.social-media img {
    max-width: 50px;
    margin: 0 5px;
}

.hero {
    position: relative; /* Set the hero container to relative */
    height: 400px; /* Example height */
    overflow: hidden; /* Ensures content doesn't overflow */
}

.hero h1 {
    position: absolute; /* Positioning the h1 absolutely */
    top: 20px; /* Distance from the top */
    left: 20px; /* Distance from the left */
    color: white; /* Text color */
    font-size: 2.5em; /* Font size */
}

.hero article {
    position: absolute; /* Positioning the article absolutely */
    bottom: 20px; /* Distance from the bottom */
    left: 20px; /* Distance from the left */
    color: white; /* Text color */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px; /* Padding around the text */
}

.hero img {
    width: 100%; /* Make the image fill the width of the container */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Positioning the image absolutely */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    z-index: 1; /* Ensure the image is behind other elements */
}